{#
  @todo layout/template
    account in a topbar
#}
<a href="{{app.request.getBaseURL()}}/account/register">register</a>
<a href="{{app.request.getBaseURL()}}/account/login">login</a>
<a href="{{app.request.getBaseURL()}}/account/logout">logout</a>
{% if admin %}
  <a href="{{app.request.getBaseURL()}}/transaction">transaction list</a>
{% endif %}

{% if costumes %}
  <table>
    <th>name</th>
    <th>preview</th>
    <th>tokens</th>
    <th>status</th>
    <th>actions</th>
    {% if admin %}
      {% include "./Admin/AdminActionsHeader.twig" %}
    {% endif %}
  {% for costume in costumes %}
    {% if costume.id_status == 2 %}
      <tr>
        <td>{{ costume.name }}</td>
        <td>
        {% if (costume.image|trim("")) is empty %}
          no image
        {% else %}
          {{ costume.image }}
        {% endif %}
        </td>
        <td>{{ costume.tokens }}</td>
        <td>published</td>
        <td><a href="{{ app.request.getBaseURL()}}/costume/tip/{{ costume.hash_id }}" class="costume--tip">add a tip</a></td>
        {% if admin %}
          {% include "./Admin/AdminActionsOnPublished.twig" %}
        {% endif %}
      </tr>
    {% endif %}
    {% if costume.id_status == 1 %}
      <tr>
        <td>{{ costume.name }}</td>
        <td>
        {% if (costume.image|trim("")) is empty %}
          no image
        {% else %}
          {{ costume.image }}
        {% endif %}
        </td>
        <td>{{ costume.tokens }}</td>
        <td>pending</td>
        <td><a href="{{ app.request.getBaseURL()}}/costume/tip/{{ costume.hash_id }}" class="costume--tip">add a tip</a></td>
        {% if admin %}
          {% include "./Admin/AdminActionsOnPending.twig" %}
        {% endif %}
      </tr>
    {% endif %}
    {% if costume.id_status == 3 %}
      <tr>
        <td>{{ costume.name }}</td>
        <td>
        {% if (costume.image|trim("")) is empty %}
          no image
        {% else %}
          {{ costume.image }}
        {% endif %}
        </td>
        <td>{{ costume.tokens }}</td>
        <td>pending</td>
        <td><a href="{{ app.request.getBaseURL()}}/costume/tip/{{ costume.hash_id }}" class="costume--tip">add a tip</a></td>
        {% if admin %}
          {% include "./Admin/AdminActionsOnDenied.twig" %}
        {% endif %}
      </tr>
    {% endif %}
  {% endfor %}
  </table>
{% else %}
  <div>No costumes to show</div>
{% endif %}

<a href="{{ app.request.getBaseURL()}}/costume/add">add costume</a>
